body
{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

#container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(15, 3, 126);
    color: white;
    
}

#cuerpo
{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    }

#Juguete
{   
    width: 100px;
    height: 70px;    
}

