*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body
{
    color: rgb(27, 201, 4);
    font-family: 'Times New Roman';
    background-size: 100vw 100vh;
    background-repeat: no-repeat;            
}

main
{
    height: 66vh;
}

.header
{
    margin-top: 25px;
    width: 100vw;
    display: flex;
    justify-content: space-between;    
    background-color: rgb(9, 20, 180); 
    height: 10vh;  
    padding: 0.5rem;       
}

.header img
{
    width: 5.5vw;        
}

.header span
{
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 2.2vw;         
}

.header-container-nav
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;        
}

.header-container-nav li
{
  display: inline-block;
  background-color: rgb(194, 7, 178); 
  width: 100px;
  border-radius: 5px;
  padding: 3px;    
}

.header-container-nav  a
{
    color: rgb(255, 255, 255);     
    text-decoration: none;               
}

.header-container-nav a:hover
{
    color: black;
}

.header-container-nav li:active
{
    background-color: cornsilk;
}

.user-register
{
    color: rgb(255, 123, 0);
    padding: 0.25em;        
}

.button:hover
{
  background-color: black;
  color: wheat;
}

.present
{
    display: flex;
    color: rgb(0, 238, 214);    
}


.body
{
    display: flex;
    flex-direction: column;
    padding: 00.3em;
    width: 100vw;     
}

.section1
{
   display: flex;
   flex-direction: row;
}

.section2
{
    display: flex;
    flex-direction: row;
}

.play
{
    display: flex;
    justify-content: center;
    margin: 00.3em;
    padding: 0.5em;    
}

.play ul a
{
    color: rgb(255, 123, 0);
}

.play-img
{
    float: right;    
    width: 10vw;
    height: 9.0vw;
}

.whiteline 
{
    
        display: flex;
        justify-content: center;
        margin: 00.3em;
        padding: 0.5em;    
    
}

.whiteline ul a
{
    color: rgb(255, 123, 0);
}

.whiteline-img
{
    float: right;    
    width: 5vw;
    height: 10vw;
}
    
.motorcycle
{
    display: flex;
    justify-content: center;
    margin: 00.3em;
    padding: 0.5em;  

}

.motorcycle ul a
{
    color: rgb(255, 123, 0);
}


.motorcycle-img
{
    float: left;    
    width: 15vw;
    height: 6vw;
}

.tecnology
{
    display: flex;
    justify-content: center;
    margin: 00.3em;
    padding: 0.5em;    
}

.tecnology-img
{
    float: right;    
    width: 10vw;
    height: 8vw;
}

.footer img
{
    width: 4vw;
    height: 4vh;
}

.footer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000000;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: rgb(252, 252, 252);
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  width: 100vw;
  
}






