*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body
{
    display: flex;
    flex-flow: column;
    color: rgb(27, 201, 4);
    font-family: 'Times New Roman';
    width: 100vw;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-position: center;
}

.header
{ 
    width: 100vw;
    display: flex;     
    background-color: rgb(9, 20, 180); 
    height: 10vh;  
    padding: 0.3rem; 
    margin-bottom: 2vh;      
}

.header img
{
    width: 5.5vw;
    margin-right: 20px;
    border-radius: 50%;        
}

.header span
{
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 2.2vw;         
}

.header-container-nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: auto;        
}

.header-container-nav li
{
  display: inline-block;
  background-color: rgb(194, 7, 178); 
  width: 100px;
  border-radius: 5px;
  padding: 3px; 
  border: solid 1px rgb(194, 7, 178);
  text-align: center;
  font-size: 1vw; 
}

.header-container-nav  a
{
    color: rgb(255, 255, 255);     
    text-decoration: none;               
}

.header-container-nav li:hover
{
    background-color: rgba(194, 7, 178, 0.76);
    
}

.header-container-nav li:active
{
    background-color: cornsilk;
}

.user-register
{
    display: flex;    
    flex-wrap: wrap;      
    color: rgb(255, 123, 0);    
    padding: 0.25em;
    margin-bottom: 1.5vh;             
}

.user-register label
{
    display: inline-block; 
    margin-left: auto;       
}

.button
{
    margin-left: auto;
}

.button:hover
{
  background-color: black;
  color: wheat;
}



.present
{
    display: flex;    
    color: rgb(0, 238, 214);          
}

.present h3
{
    margin-right: 20px;
    font-size: 2vw;
}

/* main
{
    margin-top: auto;
    margin-bottom: auto;
} */

.principal-body
{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 00.3em;
    width: 100vw;
    height: inherit;         
}

/* .section1
{
   display: flex;
   flex-direction: row;  
   justify-content: space-around;
   margin-bottom: 20px;
   margin-top: 20px;
}

.section2
{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    margin-bottom: 20px;
} */

.play
{
    display: flex;
    justify-content: center;
    text-align: center;   
    padding: 0.5em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     border-radius: 20px;  
      
}

.play ul
{
    margin-right: 5px;
    list-style: none;     
}

.play li
{
    list-style: none;
}

.play ul a
{
    color: rgb(255, 123, 0);
        
}

.play-img
{
    float: right;    
    width: 10vw;
    height: 9.0vw;
    border-radius: 50px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     
}

.whiteline 
{
    display: flex;
    align-items: center; 
    text-align: center;   
    padding: 0.5em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     border-radius: 20px;
     
         
}

.whiteline ul a
{
    color: rgb(255, 123, 0);
}

.whiteline ul
{
    margin-right: 5px;
    list-style: none;
}

.whiteline li
{
    list-style: none;
}

.whiteline-img
{
    float: right;    
    width: 5vw;
    height: 10vw;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);    
}
    
.motorcycle
{
    display: flex;
    align-items: center; 
    text-align: center;  
    padding: 1rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     border-radius: 20px;    
}

.motorcycle ul a
{
    color: rgb(255, 123, 0);
}

.motorcycle ul
{
    margin-right: 10px;
    list-style: none;
}

.motorcycle li
{
    list-style: none;
}


.motorcycle-img
{
    float: right; 
    border-radius: 20px;     
    width: 14vw;
    height: 7vw;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.tecnology
{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 00.3em;
    padding: 0.5em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     border-radius: 20px;    
}

.tecnology ul a
{
    color: rgb(255, 123, 0);    
}

.tecnology ul
{
    margin-right: 5px;
    list-style: none;
}

.tecnology li{
    list-style: none;
}

.tecnology-img
{
    float: right;    
    width: 10vw;
    height: 12vh;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

footer
{  
  background: #000000;  
  color: rgb(252, 252, 252);   
  padding: 0.5em;
  width: 100vw;
  /* margin-top: auto; */
  

}

footer img
{
    width: 4vw;
    height: 4vh;
}

footer p
{
   display: inline-block;
      
}




